@model YeniShoppingProject.Models.Company

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Shopi/Views/Shared/_adminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Photo.photo_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.photo_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.company_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
