@model List<YeniShoppingProject.Models.Mallar>
@foreach (var item in Model)
{
    <div class="col-md-4 col-xs-4">
        <div class="itemkamp">
            <div class="hovermenu">
                <div class="itemhovermenu">
                    <h2>@item.Brand.brand_name</h2>
                    <p>@item.product_name</p>
                </div>

            </div>
            <img src="~/Yuklenen/@item.Photos.First().photo_name" style="width: 100%;">
            <hr>
            <h2>@item.product_price Azn</h2>
        </div>
    </div>
}
